.wrapper {
  position: relative;

  .iconCharacters {
    position: absolute;
    z-index: -1;
    top: 2%;
  }

  .title {
    font-size: 101.25px;
    font-weight: 700;
    text-align: center;
    padding: 45px 0 55px;
    letter-spacing: -0.02em;
    line-height: 111px;
  }

  .main {
    background: var(--main-color);
    padding: 40px 107px;

    h1 {
      color: var(--error-color);
      text-align: center;
    }

    .contentContainer {
      margin: 20px 0 30px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 25px;
    }
  }

  .filterNavigation {
    display: flex;
  }
}

.mainDetails {
  padding: 80px 110px 252px;
  background: var(--main-color);
}

